<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fieldbook"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.fieldbook.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.fieldbook.LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName="com.example.fieldbook.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.fieldbook.MainActivity" />
        </activity>
        <activity
            android:name="com.example.fieldbook.SignupActivity"
            android:label="@string/title_activity_signup"
            android:parentActivityName="com.example.fieldbook.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.fieldbook.MainActivity" />
        </activity>
        <activity
            android:name="com.example.fieldbook.SignupDisplayActivity"
            android:label="@string/title_activity_signup_display"
            android:parentActivityName="com.example.fieldbook.SignupActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.fieldbook.SignupActivity" />
        </activity>
    </application>

</manifest>
